<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
                <div class="footer__about__logo">
                    <a href="./index.html"><img src="~/Images/logo.jpg" alt=""></a>
                </div>
                <ul>
                    <li>Phone: 0899350612</li>
                    <li>Email: tranductra2002@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            <div class="footer__widget">
                <h6>Liên kết</h6>
                <ul>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Thông tin cửa hàng</a></li>
                    <li><a href="#">Mua sắm</a></li>
                   
                </ul>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="footer__widget">
                
                <form action="#">
                    <input type="text" placeholder="Nhập mail của bạn">
                    <button type="submit" class="site-btn">Đăng kí</button>
                </form>
                <div class="footer__widget__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    
</div>
