@model IEnumerable<RestaurantFood.Models.MENU>
@if ((int)ViewBag.Count > 0)
{
    <ul class="header__menu__dropdown_1">
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.MenuLink">@item.MenuName</a>
            </li>
        }
    </ul>
}