@model IEnumerable<RestaurantFood.Models.MENU>

<nav class="header__menu">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.MenuLink">@item.MenuName</a>
                @Html.Action("LoadChildMenu", "Home", new { parentId = item.Id })
            </li>
        }
    </ul>
</nav>

