@model List<RestaurantFood.Models.LoaiMon>

<div class="container">
    <div class="row">
        <div class="categories__slider owl-carousel">
            @foreach (var item in Model)
            {
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../Images/LoaiMon/@item.Avatar_LoaiMon">
                        <h5><a href="~/MonAn/XemTheoLoaiMon?id=@item.Id_LoaiMon">@item.Ten_LoaiMon</a></h5>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
